#main {
  position: relative;
  max-height: 100dvh;
  overflow: hidden;
}

@media only screen and (min-width: 1000px) {
  #navbar {
    position: fixed;
  } 
}

.btnEstilo {
  display: inline-block;
  font-size: 10px;
  padding: 0 10px;
  position: relative;
  border-radius: 50px !important;
  background: #fdd700!important;
  color: #000 !important;
  border: none;
  text-transform: capitalize;
  letter-spacing: .2px;
  font-weight: 700;
  box-shadow: 0 2px 8px 0 rgb(62 62 79 / 23%);
  transition: .3s linear;
}

.video-slide {
  min-width: 100%;
  min-height: 100%;
}

video {
  background-size: contain;
  min-width: 100%;
  min-height: 100%;
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
}

#main form .border-geral, a.bordar-geral {
  border-radius: 100px !important;
}

.cd-top.cd-is-visible {
  border-radius: 100px !important;
}

#main form .border-direita {
  border-radius: 0 100px 100px 0 !important;
}

#map-section {
  background: url('../img/topbanner17.webp');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}